html {
	margin: 0;
	height: 100%;
	font-family: 'Anuphan', sans-serif;
}
body {
    margin: 0;
    height: 100%;
}
button, input, a {
    font-family: inherit;
}
.block {
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 30%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
}
.bg {
	padding-top: 45px;
	height: calc(100% - 45px);
	background-image: url("building2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}
.input {
	padding: 6px 0;
	font-size: 17px;
    text-align: center;
    width: 100%;
}
.inputtext {
	width: 80%;
	border-radius: 6px;
	font-size: 17px;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
}
.inputtext:focus, .inputtextsmall:focus {
	border: 1px solid #BE9F7B;
	outline: none;
}
.inputtextsmall {
	width: 60%;
	border-radius: 6px;
	font-size: 17px;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
}
#create {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 10px 0
}
.create-acc {
	padding-top: 6px;
	text-align: center;
	font-size: 12px;
	width: 100%;
	padding-bottom: 20px;
}
.create-acc-button {
	width: 88%;
	border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #773C20;
    cursor: pointer;
}
.logo {
	margin: 25px 0;
	display: flex;
	width: 100%;
	justify-content: center;
}