body {
	margin: 0;
}
.global-container {
	width: 100%;
}
.logo {
	width: 108px;
	margin: 0 auto;
	margin-top: -3px;
}
.header {
	display: flex;
	height: 54px;
	width: 90%;
	margin: 0 auto;
}
.ul-paddle-items {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.paddle-items {
	width: 65%;
	height: 49px;
}
li {
	padding: 16px 8px 10px;
}
a {
	color: #262626;
	text-decoration: none;
	font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	cursor: pointer;
}
a:hover {
	border-bottom: 2px solid black;
}
.products-block {
	display: flex;
	padding: 16px 20px 0px 15px;
}
/*.products-button {
	border: none;
	background-color: #fff;
	transform: rotate(90deg);
	font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	cursor: pointer;
	margin-left: 3px;
	margin-top:2px;
	padding: 0;
}*/
.arrow {
	margin-top: 1px;
	cursor: pointer;
}
.loupe {
	width: 22px;
	cursor: pointer;
}
.loupe-block {
	padding-top: 15px;
}
.login {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' stroke='%23707070'%3E%3Cg class='mectrl_stroke' stroke-width='1.9' fill='none'%3E%3Ccircle cx='32' cy='32' r='30.25'/%3E%3Cg transform='matrix(1.1 0 0 1.1 8.8 5.61)'%3E%3Ccircle class='mectrl_stroke' cx='20' cy='16' r='7'/%3E%3Cpath class='mectrl_stroke' d='M30 35h10m-5-5v10M30.833 32.09A11 11 0 009 34'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	width: 32px;
    height: 32px;
    margin: 8px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 12px;
}
.block {
	display: flex;
}
.card {
	width: 100%;
	display: flex;
}
.card-foreground {
	width: 100%;
	margin-left: -100%;
	align-self: center;
}
.card-background {
	width: 100%;
}
.container {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
.d-flex {
	width: 32%!important;
	font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 48px;
}
.mic365 {
	font-size: 1.8rem;
	font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.75rem;
}
.text {
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem!important;
}
.for-people {
	padding: 12px 0px;
}
.for-1 {
	margin-right: 1.5rem;
	background-color: #0067b8;
	color: #fff!important;
	font-weight: 600;
    border: 0.125rem solid transparent;
    position: relative;
    border-radius: 0.125rem;
    text-decoration: none;
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}
.for-1:hover {
	border-bottom: 0.125rem solid transparent;
	background-color: #005CA5;
}
.for-6 {
	font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}
.content-card {
	margin-top: 90px;
	width: 100%;
	display: flex;
	margin-bottom: 30px;
}
.card1 {
	width: 23.5%;
	margin-left: 12px;
	margin-right: 12px;
}
.card-image {
	width: 100%;
	aspect-ratio: 1 / 0.5689;
	cursor: pointer;
}
.card-header {
	cursor: pointer;
	font-size: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
p {
	font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
}
.card-footer {
	margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}
.card-footer>a {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color: #0067b8;
}
.card-footer>a:hover {
	border-bottom: 2px solid #0067b8;
}
.blue-arrow {
	margin-top: 3px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}