<div class="product">
    <h3>
        <div class="img-block"><img [src]="product.image" class="image"></div>
        <div style="height: 90px;">
            <a [title]="product.name + ' details'">
                {{ product.name }}
            </a>
            <p *ngIf="product.description">
                {{ product.description }}
            </p>
        </div>
        <div class="buttons">
            <button (click)="share(product)">
                Share
            </button>
            <button (click)="delete()" style="margin-left: 150px;">
                Delete
            </button>
            <button [ngClass]="{'notLiked': !product.isLiked, 'liked': product.isLiked}" (click)="toggleLike()">
                <img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" style="width: 24px; margin-right: 5px;">
                {{product.likes}}
            </button>
        </div>
    </h3>
</div>